.t-icon {
	    display: inline-block;
	    width: 20px; 
	    height: 20px;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: 100%;
	}
	.tui-safearea-bottom {
		width: 100%;
		height: env(safe-area-inset-bottom);
	}
	
	.tui-content {
		padding: 0rpx 30rpx 20rpx 120rpx;
		box-sizing: border-box;
		font-size: 34rpx;
		font-weight: 400;
		color: #333;
	}
	.tui-flex-pic {
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
		box-sizing: border-box;
		background: #fff;
		padding: 0 120rpx;
	}
	
	.tui-flex-pic image {
		width: 32%;
		margin-bottom: 2%;
	}
	.tui-default {
		padding: 20rpx 30rpx;
	}
	.tui-content {
		padding: 0rpx 30rpx 20rpx 120rpx;
		box-sizing: border-box;
		font-size: 34rpx;
		font-weight: 400;
		color: #333;
	}
	.tui-pleft {
		padding-left: 120rpx;
	}
	.tui-color-gray {
		color: #ccc;
	}